.single-type-grid-parent {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  grid-template-rows: 1fr repeat(2, 2fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border: 1px solid black;
}

.grid-label {
  margin: auto;
  font-weight: bold;
}

.shorthand-label {
  font-style: italic;
  font-size: small;
}
