.single-type-grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border: 1px solid black;
}

.grid-label {
  margin: auto;
  font-weight: bold;
}

.shorthand-label {
  font-style: italic;
  font-size: small;
  text-align: center;
}

.single-type-grid-cell {
  // background-color: gray;
  padding: 0.5rem;
  margin: 0.5rem;
}
