* {
  // display: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0px;
}
