* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0px;
  background-color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0px;
}

.types-list {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
